boto3==1.17.90
botocore==1.20.90
click==8.0.1
jmespath==0.10.0
-e git+git@github.com:william-cass-wright/media_mgmt_cli.git@3884d707d7ad31b6e1c4eacae5c87aa24abce18a#egg=media_mgmt
python-dateutil==2.8.1
PyYAML==5.4.1
s3transfer==0.4.2
six==1.16.0
urllib3==1.26.5
